# Database (from Supabase)
DATABASE_URL=""

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# Email (Nodemailer + Gmail SMTP - FREE)
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
EMAIL_FROM="noreply@horbiteal.com"

# App URLs
NEXT_PUBLIC_APP_URL="http://localhost:3000"
